# URL бэкенда на Back4App (https обязательно!)
VITE_API_URL=https://blackrose-xxxxxxxx.b4a.run

# Username бота без @
VITE_BOT_NAME=blackrosesl1_bot

# Honeybadger (опционально)
VITE_HONEYBADGER_API_KEY=
