# URL бэкенда на Hugging Face Spaces (https обязательно!)
VITE_API_URL=https://nihronick-blackrose-backend.hf.space

# Username бота без @
VITE_BOT_NAME=blackrosesl1_bot

# Honeybadger (опционально)
VITE_HONEYBADGER_API_KEY=
